doctype html
// - FUC        FWF      FWF     FUC        FWF      FWF    FUC        FWF      FWF     -----
// -  KGF      CKGUC    CKG       KGF      CKGUC    CKG      KGF      CKGUC    CKG      ----
// -   WFU    WFU KGF  WFU         WFU    WFU KGF  WFU        WFU    WFU KGF  WFU       ---
// -    CKG  KGF   WFUFU            CKG  KGF   WFUFU           CKG  KGF   WFUFU         --
// -     FWFUC      CKG              FWFUC      CKG             FWFUC      CKG          -
// -------------------------------------------------------------------------------------
<!--                        #{new Date()}                      -->
// -----------------------------------------------------------------------------------
//                 Welcome to F12              Console   ·> XLIB.dinit();           -
html
    head
        link(rel="stylesheet",href="/s/ui.css")
        link(rel="stylesheet",href="/s/lo.css")
        script(src="/j/jquery.min.js",type="text/javascript")
        script(src="/j/jquery-ui.min.js",type="text/javascript")
        script(src="/j/xlib.js",type="text/javascript")
        - if (dTitle)
            title #{title}
        - else
            title #{title} · Websint
        meta.pagedata(data-wisck=wisChk)
        block head
    body
        a#top
        block hct
        .dbd
            a.iop(href="//websint.org") 主站
            a.iop(href="/") /
            - if (typeof SpecH1 == "string")
                - if (SpecH1.length > 0)
                    h1.th1= SpecH1
            -else
                h1.th1= title
            - if (!uud)
                - if(!(!lognUsn || lognUsn.length<1))
                    - for (var i=0;i<lognUsn.length;i++)
                        - if (lognUsn[i].uxz[0].sex=="女")
                            a.usrlgned.sexgulr(href="javascript:;",data-uid=lognUsn[i].xUsr._id.toString())= lognUsn[i]
                        - else if(lognUsn[i].uxz[0].sex=="男")
                            a.usrlgned.sexbulr(href="javascript:;",data-uid=lognUsn[i].xUsr._id.toString())= lognUsn[i]
                        - else
                            a.usrlgned.sexxulr(href="javascript:;",data-uid=lognUsn[i].xUsr._id.toString())= lognUsn[i]
                    a.lognplas(href="/login") +
                - if (lognIsReg)
                    a(href="/register") 完成注册
            - if (isArticle)
                span.dbdflow
                    a(href="//rpt.websint.org/article##{title}") [ 报告错误 ]
                        a [ 分享 ]
            block czz
        block content
