doctype html
// - FUC        FWF      FWF     FUC        FWF      FWF    FUC        FWF      FWF     -----
// -  KGF      CKGUC    CKG       KGF      CKGUC    CKG      KGF      CKGUC    CKG      ----
// -   WFU    WFU KGF  WFU         WFU    WFU KGF  WFU        WFU    WFU KGF  WFU       ---
// -    CKG  KGF   WFUFU            CKG  KGF   WFUFU           CKG  KGF   WFUFU         --
// -     FWFUC      CKG              FWFUC      CKG             FWFUC      CKG          -
// -------------------------------------------------------------------------------------
<!--                        #{new Date()}                      -->
// -----------------------------------------------------------------------------------
//                 Welcome to F12              Console   ·> XLIB.dinit();           -
html
    head
        link(rel="stylesheet",href="/s/g.css")
        link(rel="stylesheet",href="/s/ui.css")
        // script(src="https://static.websint.org/j/jquery.js",type="text/javascript")
        script(src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js",type="text/javascript")
        // script(src="https://static.websint.org/j/jquery-ui.js",type="text/javascript")
        script(src="//cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js",type="text/javascript")
        script(src="/j/xlib.js",type="text/javascript")
        script(src="/j/gl.js",type="text/javascript")
        - if (dTitle)
            title #{title}
        - else
            title #{title} · 推吧
        meta.pagedata(data-wisck=wisChk)
        block head
    body
        a#top
        block hct
        .dbd(style=dbdStyle)
            a(href="/") Yoghourt
            - if (!uud)
                - if(!lognUsn || lognUsn.length<1)
                    a.lgonbt(href="/login") 登录
                    - if(!lgonIsReg)
                        a(href="/register") 注册
                -else
                    | &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-----&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    - for (var i=0;i<lognUsn.length;i++)
                        - if (lognUsn[i].uxz[0].sex=="女")
                            a.usrlgned.sexgulr(href="javascript:;",data-uid=lognUsn[i].xUsr._id.toString())= lognUsn[i]
                        - else if(lognUsn[i].uxz[0].sex=="男")
                            a.usrlgned.sexbulr(href="javascript:;",data-uid=lognUsn[i].xUsr._id.toString())= lognUsn[i]
                        - else
                            a.usrlgned.sexxulr(href="javascript:;",data-uid=lognUsn[i].xUsr._id.toString())= lognUsn[i]
                    a.lognplas(href="/login") +
                - if (lognIsReg)
                    a(href="/register") 完成注册
            block czz
        - if (typeof SpecH1 == "string")
            - if (SpecH1.length > 0)
                h1= SpecH1
        -else
            h1= title
        block content
