doctype html
html
    head
        link(rel="stylesheet",href="/s/g.css")
        link(rel="stylesheet",href="/s/ui.css")
        link(rel="stylesheet",href="/s/xg.css")
        script(src="https://upcdn.b0.upaiyun.com/libs/jquery/jquery-2.0.3.min.js",type="text/javascript")
        script(src="https://upcdn.b0.upaiyun.com/libs/jqueryui/jquery.ui-1.10.3.min.js",type="text/javascript")
        script(src="/j/jquery.js",type="text/javascript")
        script(src="/j/xlib.js",type="text/javascript")
        script(src="/j/gl.js",type="text/javascript")
        -if (dTitle)
            title #{title}
        -else
            title #{title} · 推吧
        block head
        - if(wisChk)
            script.
                var pdWisChk="#{wisChk}";
    body
        .dbd
            a(href="https://websint.org") Yoghourt
            a(href="/") 缩短网址
        -if (typeof SpecH1 == "string")
            -if (SpecH1.length > 0)
                h1= SpecH1
        -else
            h1= title
        block content
