doctype html
html
    head
        link(rel="stylesheet",href="/s/g.css")
        link(rel="stylesheet",href="/s/ui.css")
        link(rel="stylesheet",href="/s/xg.css")
        script(src="https://upcdn.b0.upaiyun.com/libs/jquery/jquery-2.0.3.min.js",type="text/javascript")
        script(src="https://upcdn.b0.upaiyun.com/libs/jqueryui/jquery.ui-1.10.3.min.js",type="text/javascript")
        script(src="/j/xlib.js",type="text/javascript")
        script(src="/j/gl.js",type="text/javascript")
        script(src="/j/xy.js",type="text/javascript")
        script.
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q || []).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
            ga('create', 'UA-57004724-1', 'auto');
            ga('require', 'displayfeatures');
            ga('send', 'pageview');
        - if (dTitle)
            title #{title}
        - else
            title #{title} · 推吧
        block head
        - if(wisChk)
            script.
                var pdWisChk="#{wisChk}";
    body
        .redbox
            h2 停站通知
            p 由于服务器原因，本站将关闭至12日。非常抱歉，多谢理解。
        .dbd
            a(href="https://websint.org") Yoghourt
            a(href="/") 缩短网址
            // a(href="http://xgy.co/twktb")
            //     img.vc(src="http://cdn.nyanit.com/nyan2.gif",style="height: 24px;")
            a.xx.redlink.noanimate.nomar.coloranimate(onclick="return false;",href="javascript:window.open('http://xgy.co/@?u='+encodeURIComponent(window.location.toString()));",name="缩短这个页面") 把窝拖进收藏，以后只需点击一下即可缩短点击所在页面！
        - if (typeof SpecH1 == "string")
            - if (SpecH1.length > 0)
                h1= SpecH1
        - else
            h1= title
        block content
