extends layout
block head
    link(rel="stylesheet",href="/s/ur.css")
    script(src="/j/ur.js",type="text/javascript")
    script.
        var xgrn="#{xusr.name}";
        var xgrid="#{xusr.id.toString()}";
        var hasPrem=#{hasPrem};
block content
    <!-- Username=#{xusr.name} -->
    <!-- Has #{xzs.length} -->
    - for (var i=0;i<xzs.length;i++)
        - if (i>0)
            hr
        - var xzN=xzs[i], sex="性别未知",sign="窝正在完善资料！";
        - if(xzN.sex)
            - sex=xzN.sex
        - if(xzN.sign)
            - sign=xzN.sign
        div(class="#{i+1}th_zl")
            <!-- #{i+1}th -->
            span.opsi 性别
            - if (hasPrem)
                span.sex.editable=sex
                | ，
                span.opsi 签名
                | “
                span.sign.editable=sign
                | ”
                .padding8.margin4.editable.weleditableneedhidden!= wel
            - else
                span.sex=sex
                | ，
                span.opsi 签名
                | “
                span.sign=sign
                | ”
                .padding8!= wel