extends layout
block head
    link(rel="stylesheet",href="/s/ur.css")
    script(src="/j/ur.js",type="text/javascript")
    script.
        var xgrn="#{xusr.name}";
        var xgrid="#{xusr.id.toString()}";
        var hasPrem=#{hasPrem};
block content
    <!-- Username=#{xusr.name} -->
    <!-- Has #{xzs.length} -->
    - for (var i=0;i<xzs.length;i++)
        - if (i>0)
            hr
        - var xzN=xzs[i], sex="性别未知",sign="窝正在完善资料！";
        - if(xzN.sex)
            - sex=xzN.sex
        - if(xzN.sign)
            - sign=xzN.sign
        div(class="#{i+1}th_zl")
            <!-- #{i+1}th -->
            span.opsi 性别
            - if (hasPrem)
                span.sex.editable=sex
                | ，
                span.opsi 签名
                | “
                span.sign.editable=sign
                | ”
                .padding8.margin4.editable.weleditableneedhidden!= wel
            - else
                span.sex=sex
                | ，
                span.opsi 签名
                | “
                span.sign=sign
                | ”
                .padding8!= wel
        .u-xx
            table.tbdy.tbl
                tbody.tbdy.usper
                    tr.ttr
                        td.ftd 属性
                        td.std 值
                    - for(var t in xzN._doc)
                        - if(xzN._doc.hasOwnProperty(t) && t.substr(0,1)=="i")
                            tr.tit
                                td.proc #{t.substr(1)}
                                td.valu #{xzN._doc[t]}
                    - if(hasPrem)
                        tr.umore
                            td.editable 增加更多
                            td.editable --
            - if(hasPrem)
                .xui-a.loadppc 覆盖现有数据并载入模板
                .xui-a.clear 清空
